<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/pages/about.css">
</head>
<body>

    <nav>
        <div id="navbar" class="navbar">
            <div class="left-nav">
                <a href="">Menu</a>
                <a href="/views/product.ejs">Product</a>
                <a href="">About us</a>
            </div>
            <div class="logo"><a href="">HIGH ELEVATION</a></div>
            <div class="right-nav">
                <div class="search-bar">
                    <input type="search" name="product_search" id="">
                </div>
    
                <div class="icon profile-icon" onclick="toggleDropdown()">
                    <img src="assets/icons/profile.svg" alt="profile">
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="dropdown hidden">
                        <ul>
                            <li><a href="/views/profile.ejs">Profile</a></li>
                            <li><a href="#">Address</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>
                <div class="icon"><img src="assets/icons/cart.svg" alt="shopping-cart"></div>
            </div>
        </div>
    </nav>

    <section class="first-section">
        <div class="left">
            <h2>ABOUT US</h2>
            <h1><em>Dedication</em> to Quality</h1>
            <div class="spacer"></div>
            <p>Our mission is to provide sustainably sourced, hand-picked, micro-roasted quality coffee. Great coffee is our passion and we want to share it with you. <br><br>

                We strive to form profound partnerships with farmers from all over the world to create perspective together and form healthy working relationships built on trust and respect.</p>
        </div>
        <div class="right">
            <p>Everything we do is a matter of  heart, body, and soul</p>
        </div>
    </section>

    <section class="second-section">
      <h2>Our Philosophy</h2>
      <h1><em>Coffee is our craft, our ritual, our passion.</em></h1>
      <div class="divider"></div>
      <p>Fair trade siphon crema extra, viennese qui, foam viennese siphon est so caramelization. Carajillo sit ut extra chicory aged instant crema chicory. Et, dark a cup, cortado, siphon at arabica flavour macchiato. Cream, at, acerbic redeye iced americano coffee white. To go et, steamed a café au lait, single origin aftertaste frappuccino blue mountain whipped.</p>
    </section>

    <section class="grid-container">
        <div class="item item1"><img src="cofee.jpg" alt="Coffee Farm"></div>
        <div class="item item2"><img src="cofee.jpg" alt="Roasting"></div>
        <div class="item item3"><img src="cofee.jpg" alt="Coffee Beans"></div>
        <div class="item item4"><img src="cofee.jpg" alt="Brewing"></div>
    </section>

    <section class="section-4">
        <h2>our story</h2>
        <h1><em>Everything we do is a matter of heart, body and soul.</em></h1>
        <div class="divider"></div>
        <p>It all began with a modest concept: Create exceptional coffee. Fair trade siphon crema extra, viennese qui, foam viennese siphon est so caramelization. Carajillo sit ut extra chicory aged instant crema chicory. Et, dark a cup, cortado, siphon at arabica flavour macchiato. Cream, at, acerbic redeye iced americano coffee white. To go et, steamed a café au lait, single origin aftertaste frappuccino blue mountain whipped.</p>
    </section>
    
    <section class="section-5">
        <div class="section-5-left">
            <img src="cofee.jpg" alt="">
        </div>
        <div class="section-5-right">
        <h2>our story</h2>
        <h1><em>Everything we do is a matter of heart, body and soul.</em></h1>
        <div class="divider-5"></div>
        <p>It all began with a modest concept: Create exceptional coffee. Fair trade siphon crema extra, viennese qui, foam viennese siphon est so caramelization. Carajillo sit ut extra chicory aged instant crema chicory. Et, dark a cup, cortado, siphon at arabica flavour macchiato. Cream, at, acerbic redeye iced americano coffee white. To go et, steamed a café au lait, single origin aftertaste frappuccino blue mountain whipped.</p>
        </div>
    </section>

    <section class="section-6">


    </section>

</body>
</html>