<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book</title>
    <link rel="stylesheet" href="../public/css/pages/about.css">
</head>
<body>
    <div class="address-book">
        <h1>Address Book</h1>
        
        <div class="grid-row header">
            <div>Full Name</div>
            <div>Address</div>
            <div>Postcode</div>
            <div>Phone Number</div>
        </div>

        <!-- Address Entry 1 -->
        <div class="address-entry">
            <div class="grid-row">
                <div>April Bords Nerosa</div>
                <div>HOME</div>
                <div></div>
                <div>
                    <div class="default-address">Default Shipping Address</div>
                    <div class="default-address">Default Billing Address</div>
                </div>
            </div>
            <a class="edit-button">EDIT</a>
        </div>

        <!-- Address Entry 2 -->
        <div class="address-entry">
            <div class="grid-row">
                <div></div>
                <div></div>
                <div></div>
                <div class="default-address">Default Billing Address</div>
            </div>
            <a class="edit-button">EDIT</a>
            <a class="edit-button">EDIT</a>
        </div>

        <div class="separator"></div>

        <button class="add-button">
            + ADD NEW ADDRESS
        </button>
    </div>
</body>
</html>