<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book</title>
    <link rel="stylesheet" href="../public/css/address.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <h2>Address Book</h2>
            <div class="links">
                <a href="#">Make default shipping address</a> |
                <a href="#">Make default billing address</a>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Phone Number</th>
                    <th></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>April Bords Nerosa</td>
                    <td><span class="badge">HOME</span></td>
                    <td> 8000</td>
                    <td></td>
                    <td>
                        <p>Default Shipping Address</p>
                        <p>Default Billing Address</p>
                    </td>
                    <td><a href="#" class="edit">EDIT</a></td>
                </tr>

            </tbody>
        </table>

        <div class="add-button">
            <button>+ ADD NEW ADDRESS</button>
        </div>
    </div>

</body>
</html>
