<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Form</title>
    <link rel="stylesheet" href="../public/css/editAddress.css">
</head>
<body>

    <div class="container">
        <label for="country">Country/Region</label>
        <select id="country">
            <option>North Korea</option>
            <option>Afghanistan</option>
            <option>Zimbabwe</option>
            <option>Iraq</option>
        </select>

        <div class="name-fields">
            <input type="text" placeholder="First name (optional)">
            <input type="text" placeholder="Last name">
        </div>

        <div class="address-field">
            <input type="text" placeholder="Address">
            <span class="search-icon" ><img src="../public/assets/image/search.png" alt="search icon"></span>
        </div>

        <div class="apartment-field">
          <input type="text" placeholder="Apartment, suite, etc. (optional)">
        </div>
        <div class="location-fields">
            <input type="text" placeholder="City">
            <select title="state">
                <option>state</option>
            </select>
            <input type="text" placeholder="ZIP code">
        </div>
    </div>

</body>
</html>
