<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href='../public/css/order.css'>
</head>
<body>
  
  <div class="main-container">
    <h1>My Orders</h1>

    <div class="search-container">
      <img class="search-icon" src="../public/assets/image/search.png" alt="">
      <input type="text" class="search-box" placeholder="Search by seller name, order ID or product name">
    </div>

    
    <div class="order-container">
<!-- order header -->
        <div class="order-header">
            <span class="order-title"><span><img src="store.png" height="30px" width="30px" alt=""></span>Title of the seller or something</span>
            <span class="status">Delivered</span>
        </div>
<!-- ordet table -->
        <table>
            <tr>
                <td class="row">
                  <div class="product">
                    <div class="logo-container">
                      <img src="../public/assets/image/1.jpg"
                      class="logo" alt="Smart Logo">
                    </div>
                    <div class="product-info">
                      <span class="product-name">123123123</span>
                      <span class="product-description"> asdasdadsasd</span>
                    </div>
                  </div>
                  <div >
                    <span class="quantity">Price: $123</span>
                  </div>
                  <div >
                    <span class="price">Quantity: 1</span>
                  </div>
                </td>
            </tr>
        </table>
    </div>


    <!-- order 2 -->
    <div class="order-container">
      <!-- order header -->
              <div class="order-header">
                  <span class="order-title"><span><img src="../public/assets/image/store.png height="30px" width="30px" alt=""></span>Title of the seller or something</span>
                  <span class="status">Delivered</span>
              </div>
      <!-- ordet table -->
              <table>
                  <tr>
                      <td class="row">
                        <div class="product">
                          <div class="logo-container">
                            <img src="1.jpg"
                            class="logo" alt="Smart Logo">
                          </div>
                          <div class="product-info">
                            <span class="product-name">123123123</span>
                            <span class="product-description"> asdasdadsasd</span>
                          </div>
                        </div>
                        <div >
                          <span class="quantity">Price: $123</span>
                        </div>
                        <div >
                          <span class="price">Quantity: 1</span>
                        </div>
                      </td>
                  </tr>
              </table>
          </div>
  </div>

  

</body>
</html>
