<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Card</title>
    <link rel="stylesheet" href="/css/product.style.css">
    <script src="javaScript/product.script.js" defer></script>
</head>
    <body>

        <nav>
            <div id="navbar" class="navbar">
                <div class="left-nav">
                    <a href="">Menu</a>
                    <a href="/views/product.ejs">Product</a>
                    <a href="">About us</a>
                </div>
                <div class="logo"><a href="">HIGH ELEVATION</a></div>
                <div class="right-nav">
                    <div class="search-bar">
                        <input type="search" name="product_search" id="">
                    </div>
        
                    <div class="icon profile-icon" onclick="toggleDropdown()">
                        <img src="assets/icons/profile.svg" alt="profile">
                        <!-- Dropdown menu -->
                        <div id="dropdown" class="dropdown hidden">
                            <ul>
                                <li><a href="/views/profile.ejs">Profile</a></li>
                                <li><a href="#">Address</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="icon"><img src="assets/icons/cart.svg" alt="shopping-cart"></div>
                </div>
            </div>
        </nav>




        <div class="main-container">

            <!-- HOME > PRODUCT -->
            <section class="title-section">
                <h1>HOME > PRODUCT</h1>
            </section>



            <section class="products-section">
    
            <aside>
                <div class="aside-container">

                    <div class="search">
                        <p>Search</p>
                        <input class="search-bar" type="search" name="product_search" id="">
                    </div>
    
                    <div class="categories">
                        <p>Categories</p>
    
                            <input type="checkbox" id="" name="" value="">
                            <label for=""> Coffee</label><br>
    
                            <input type="checkbox" id="" name="" value="">
                            <label for=""> Coffee</label><br>
    
                            <input type="checkbox" id="" name="" value="">
                            <label for=""> Coffee</label><br>
    
                            <input type="checkbox" id="" name="" value="">
                            <label for=""> Coffee</label><br>
                            
                    </div>
    
                    <div class="sizes">
                        <p>Sizes</p>
    
                        <input type="checkbox" id="" name="" value="">
                        <label for=""> 100g</label><br>
    
                        <input type="checkbox" id="" name="" value="">
                        <label for=""> 500g</label><br>
    
                        <input type="checkbox" id="" name="" value="">
                        <label for=""> 1kg</label><br>
                    </div>

                </div>




            </aside>
        

                        <!--////////////-->
            <!--PRODUCT CARD-->
            <!--////////////-->
                <!-- WRAPPED WITH "a" aron clickable sya -->

        <div class="product-cards-container">

            <div>
                <a href="#">
                    <div class="product-card">
                        <div class="product-card-image-container">
                            <img src="./pictures/arabica beans.png" alt="Product Image">

                            <div class="product-card-hover-icons">
                                <div><a class="" href=""><img src="/assets/icons/search.svg" alt="search icon"></a></div>
                                <div><a class="" href=""><img src="/assets/icons/cart.svg" alt="cart icon"></a></div>
                            </div>

                            <div class="product-card-size-description">
                                <p>100g | 500g | 1kg</p>
                            </div>
                        </div>
                        <div class="product-card-description">
                            <p class="product-card-name">Arabica Coffee Beans</p>
                            <p class="product-card-price">80 PHP</p>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="#">
                    <div class="product-card">
                        <div class="product-card-image-container">
                            <img src="./pictures/arabica beans.png" alt="Product Image">

                            <div class="product-card-hover-icons">
                                <div><a class="" href=""><img src="/public/assets/icons/search-icon-white.png" alt="search icon"></a></div>
                                <div><a class="" href=""><img src="/public/assets/icons/cart-icon-white.png" alt="cart icon"></a></div>
                            </div>

                            <div class="product-card-size-description">
                                <p>100g | 500g | 1kg</p>
                            </div>
                        </div>
                        <div class="product-card-description">
                            <p class="product-card-name">Arabica Coffee Beans</p>
                            <p class="product-card-price">80 PHP</p>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="#">
                    <div class="product-card">
                        <div class="product-card-image-container">
                            <img src="./pictures/arabica beans.png" alt="Product Image">

                            <div class="product-card-hover-icons">
                                <div><a class="" href=""><img src="/public/assets/icons/search-icon-white.png" alt="search icon"></a></div>
                                <div><a class="" href=""><img src="/public/assets/icons/cart-icon-white.png" alt="cart icon"></a></div>
                            </div>

                            <div class="product-card-size-description">
                                <p>100g | 500g | 1kg</p>
                            </div>
                        </div>
                        <div class="product-card-description">
                            <p class="product-card-name">Arabica Coffee Beans</p>
                            <p class="product-card-price">80 PHP</p>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="#">
                    <div class="product-card">
                        <div class="product-card-image-container">
                            <img src="./pictures/arabica beans.png" alt="Product Image">

                            <div class="product-card-hover-icons">
                                <div><a class="" href=""><img src="/public/assets/icons/search-icon-white.png" alt="search icon"></a></div>
                                <div><a class="" href=""><img src="/public/assets/icons/cart-icon-white.png" alt="cart icon"></a></div>
                            </div>

                            <div class="product-card-size-description">
                                <p>100g | 500g | 1kg</p>
                            </div>
                        </div>
                        <div class="product-card-description">
                            <p class="product-card-name">Arabica Coffee Beans</p>
                            <p class="product-card-price">80 PHP</p>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="#">
                    <div class="product-card">
                        <div class="product-card-image-container">
                            <img src="./pictures/arabica beans.png" alt="Product Image">

                            <div class="product-card-hover-icons">
                                <div><a class="" href=""><img src="/public/assets/icons/search-icon-white.png" alt="search icon"></a></div>
                                <div><a class="" href=""><img src="/public/assets/icons/cart-icon-white.png" alt="cart icon"></a></div>
                            </div>

                            <div class="product-card-size-description">
                                <p>100g | 500g | 1kg</p>
                            </div>
                        </div>
                        <div class="product-card-description">
                            <p class="product-card-name">Arabica Coffee Beans</p>
                            <p class="product-card-price">80 PHP</p>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="#">
                    <div class="product-card">
                        <div class="product-card-image-container">
                            <img src="./pictures/arabica beans.png" alt="Product Image">

                            <div class="product-card-hover-icons">
                                <div><a class="" href=""><img src="/public/assets/icons/search-icon-white.png" alt="search icon"></a></div>
                                <div><a class="" href=""><img src="/public/assets/icons/cart-icon-white.png" alt="cart icon"></a></div>
                            </div>

                            <div class="product-card-size-description">
                                <p>100g | 500g | 1kg</p>
                            </div>
                        </div>
                        <div class="product-card-description">
                            <p class="product-card-name">Arabica Coffee Beans</p>
                            <p class="product-card-price">80 PHP</p>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <a href="#">
                    <div class="product-card">
                        <div class="product-card-image-container">
                            <img src="./pictures/arabica beans.png" alt="Product Image">

                            <div class="product-card-hover-icons">
                                <div><a class="" href=""><img src="/public/assets/icons/search-icon-white.png" alt="search icon"></a></div>
                                <div><a class="" href=""><img src="/public/assets/icons/cart-icon-white.png" alt="cart icon"></a></div>
                            </div>

                            <div class="product-card-size-description">
                                <p>100g | 500g | 1kg</p>
                            </div>
                        </div>
                        <div class="product-card-description">
                            <p class="product-card-name">Arabica Coffee Beans</p>
                            <p class="product-card-price">80 PHP</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </section>
        </div>



    </body>
</html>
